@import url("reset.css");
@import url("960.css");
@import url("KeepItSimple.css");
.para {
	color: #000;
	font-size: 16pt;
	line-height:150%;
	    word-spacing: 10px;
		line-height:150%;

}
.pa {
	color: #000;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 24px;
}
#intro {
	color: #000;
	font-size: 40px;
	text-align: justify;
	height: 300px;
	line-height: 150%;
}
