/*----- Start "Main definitions" -----*/
* { padding: 0; margin: 0; outline: 0; }

body {
    font-size: 12px;
    line-height: 1.5;
    font-family: Arial, "Trebuchet MS", Tahoma sans-serif;
    color: #4a4a4a;
    background: url(images/rosacirculos.jpg) no-repeat;
    text-align: left;
}

a img { border: 0; }
a { color: #037bb9; text-decoration: underline; }
a:hover { text-decoration: none; }

.cl, .clear { display: block; height: 0; font-size: 0; line-height: 0; text-indent: -4000px; clear: both; }
/*----- End "Main definitions" -----*/

#page { width: 952px; margin: 0 auto; padding: 0 10px; }

h1, h2, h3, h4, h5, h6 {
	font-family: "Trebuchet MS", Tahoma, Arial, Sans-Serif;
	color: #2b2b2b;
	font-weight: normal;
}
h1 { font-size: 33px; }
h2 { font-size: 38px; }
h3 { font-size: 18px; }
h4 { font-size: 16px; }
h5 { font-size: 15px; }
h6 { font-size: 14px; }

ul { padding-left: 15px; }

#header { padding: 20px 12px 15px 3px; }
#header .description {
	font-family: "Trebuchet MS", Tahoma, Arial, Sans-Serif;
	font-size: 14px;
	color: black;
	text-transform: uppercase;
	line-height: 1;
}
#header h1 { line-height: 1.1; }
#header h1 a {
	color: #2b2b2b;
	text-decoration: none;
	font-family: Georgia, "Times New Roman", Times, serif;
}

#navigation { float: right; display: inline; font-size: 11px; line-height: 1.5; text-transform: uppercase; padding-top: 10px; }
#navigation ul li { float: left; display: inline; list-style-type: none; padding-right: 18px; margin-right: 14px; background: url(images/nav-sep.gif) repeat-y right 0; }
#navigation ul li.last { margin-right: 0; padding-right: 0; background: none; }
#navigation ul li a { color: #2b2b2b; text-decoration: none; }
#navigation ul li a:hover { text-decoration: underline; }
#navigation ul li.active a { color: #000; }
ul {
    padding: 0;
    margin: 0;
}
li {
    display: inline;
    position: relative;
}
ul ul {
    position: absolute;
    display: none;
}
li:hover ul {
    display: block;
}
#slideshow { height: 454px; width: 962px; position: relative; left: -5px; }
#slideshow .bg { height: 454px; width: 962px; background: #e0e0e0 no-repeat 0 0; border-radius: 25px;}
#slideshow .cnt { padding: 42px 36px 0 36px; }
#slideshow .big-image { margin-bottom: 12px; padding: 2px; border: solid 1px #d5d5d5; width:883px; margin:0 auto 12px auto;}
#slideshow .big-image-holder,
#slideshow .big-image-holder .jcarousel-clip{ position:relative; width:883px; height:289px; overflow:hidden; }
#slideshow .big-image-holder ul{ position:relative; width:883px; height:289px; overflow:hidden; list-style-type: none; padding:0;}
#slideshow .big-image-holder ul li{ position:relative; width:883px; height:289px; overflow:hidden; float:left;}

#slider { width: 890px; position: relative; }
#slider .buttons span { display: block; width: 38px; height: 37px; font-size: 0; line-height: 0; text-indent: -4000px; cursor: pointer; }
#slider .buttons span { position: absolute; top: 21px; }
#slider .buttons .prev { left: 0; background: url(images/button-prev.gif) no-repeat 0 0; }
#slider .buttons .next { right: 0; background: url(images/button-next.gif) no-repeat 0 0; }
#slider .holder { width: 795px; height: 78px; position: relative; overflow: hidden; left:40px;}
#slider .content { height:78px; overflow:hidden; width:795px;}
#slider .content .jcarousel-clip{ height:78px; overflow:hidden; width:795px;}
#slider .content ul { position:relative; list-style-type: none; height:78px; overflow:hidden; padding:0; }
#slider .content ul li{ float: left; display: inline; list-style-type: none; margin-left: 20px; height:78px; overflow:hidden; width:139px;}
#slider .content ul li a { display:block; width: 133px; height: 72px; padding: 3px; background: url(images/slider-fragment.gif); }

#content { padding: 0 5px 10px 5px; }
#content p { padding-bottom: 18px; }
#content .separator { padding-right: 18px; background: url(images/col-sep.gif) no-repeat right 10px; }
#content .left-col { float: left; display: inline; width: 395px; }
#content .right-col { float: right; display: inline; width: 505px; }

.linklist { padding-left: 0; }
.linklist li { padding-left: 7px; background: url(images/linklist-ico.gif) no-repeat 0 7px; list-style-type: none; }

#footer { background: url(images/footer-line.gif) no-repeat center 0; padding: 20px 18px; }
